# *.txt
*.mat
!data/lapMask8Unicorn.mat
!data/lapMask16Nautilus.mat
*.ipynb
*.m
*.log
*.pkl
*.png
*.svg
*.json
.vscode
*.pdf
__pycache__
spectogramValidation.py
data/recordings/*
extra/
data/models/*
!data/models/test/
!data/models/test/modelTest.joblib
data/questionnaires/
data/weights/*
for thesis/*
